table {
    margin-left:  auto; /* 居中对齐 */
    margin-right: auto;
    margin-top:60px;
    border-collapse: collapse; /* 合并边框 */
    width: 45%; /* 设置表格宽度 */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; /* 添加边框 */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.vertical-text {
    writing-mode: vertical-lr; /* 竖排文字 */
}

.container {
    display: flex;
    justify-content: center; /* 容器居中对齐 */
    margin-top: 20px;
}

.button-container a {
    margin-right: 10px;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px; /* 添加圆角边框 */
}

/* 设置顶部横条的样式 */
.top-bar {
    background-color: #409eff;
    height: 50px;
    width: 100%;
    text-align: center; /* 居中文本 */
    position: fixed; /* 固定定位 */
    top: 0; /* 距离顶部的距离为0 */
    left: 0; /* 距离左侧的距离为0 */
}
/* 登录页面样式 */
.login-page {
    font-weight: bold; /* 加粗文本 */
    color:white;
    padding-top:15px;
}
/* 底部横条样式 */
.bottom-bar {
    background-color: #bbbbbb;
    height: 50px;
    position: fixed; /* 使用固定定位 */
    bottom: 0; /* 将元素置于底部 */
    left: 0; /* 如果您希望水平贴紧，则设置为 0 */
    width: 100%; /* 跨越整个页面宽度 */
    margin: 0; /* 去除默认的外边距 */
    padding: 0; /* 去除默认的内边距 */
}

input[type = "button"] {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50; /* 按钮背景颜色 */
    color: white; /* 文字颜色 */
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px; /* 文字大小 */
}

input[type = "button"] :hover {
    background-color: #45a049; /* 鼠标悬停时的背景颜色 */
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
